:root{
    --color-marca:#D52941;
    --color-blanco:#FFFFFF;
    --color-fondo:#CEECEB;
    --fuente-titulo: 'Carter One', cursive;
    --fuente-cuerpo: 'Lato', sans-serif;
}
 header{
    h1{font-family:var(--fuente-titulo);
     color:var(--color-marca);
     text-align:center;
     background-color: var(--color-fondo);
    }
    p{font-family:var(--fuente-cuerpo);
    }
    b{color:var(--color-marca);
    }
    ;

 }
 nav{font-family:var(--fuente-titulo);
     color:var(--color-marca);

 }